.layout {
  display: grid;
  grid-template-columns: 280px minmax(0, 1fr);
  min-height: 100vh;
}

.panel {
  padding: 96px 16px 0 38px;
  border-right: 1px solid #ededed;
}

.groupCard {
  display: flex;
  justify-content: space-between;
  min-height: 92px;
  padding: 18px 16px;
  border-radius: 8px;
  background: #ededed;
}

.groupCard div {
  display: grid;
  gap: 16px;
}

.groupCard span {
  color: #899199;
}
