.layout {
  display: grid;
  grid-template-columns: 320px minmax(0, 1fr);
  min-height: 100vh;
}

.panel {
  padding: 112px 18px 0 48px;
  border-right: 1px solid #ededed;
}

.groupCard {
  display: flex;
  justify-content: space-between;
  min-height: 112px;
  padding: 22px 18px;
  border-radius: 8px;
  background: #ededed;
}

.groupCard div {
  display: grid;
  gap: 22px;
}

.groupCard span {
  color: #899199;
}
